.button {
  --_gap: var(--sinc-btn-gap, var(--spacing-2));
  --_font-weight: var(--sinc-btn-font-weight, var(--font-weight-semibold));
  --_font-family: var(--sinc-btn-font-family, inherit);
  --_font-size: var(--sinc-btn-font-size, var(--font-size-sm));
  --_padding: var(--sinc-btn-padding, var(--spacing-2) var(--spacing-4));
  --_border-width: var(--spacing-px);
  --_border-color: transparent;
  --_border-radius: var(--sinc-btn-border-radius, var(--radii-md));
  --_shadow: var(--sinc-btn-shadow, var(--shadow-sm));

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--_gap);
  padding: var(--_padding);
  font-size: var(--_font-size);
  font-family: var(--_font-family);
  font-weight: var(--_font-weight);
  text-decoration: none;
  border: var(
    --sinc-btn-border,
    var(--_border-width) solid var(--_border-color)
  );
  border-radius: var(--_border-radius);
  cursor: pointer;
  white-space: nowrap;
  transition:
    background-color var(--transition-base),
    color var(--transition-base),
    border-color var(--transition-base),
    box-shadow var(--transition-base),
    transform var(--transition-base);

  &.primary {
    --_btn-text: var(--color-white);
    --_btn-color: var(--color-primary);
    --_btn-color-hover: color-mix(
      in srgb,
      var(--color-primary),
      var(--color-gray-900) 20%
    );
  }

  &.secondary {
    --_btn-text: var(--color-white);
    --_btn-color: var(--color-secondary);
    --_btn-color-hover: color-mix(
      in srgb,
      var(--color-secondary),
      var(--color-gray-900) 20%
    );
  }

  &.tertiary {
    --_btn-text: var(--color-white);
    --_btn-color: var(--color-tertiary);
    --_btn-color-hover: color-mix(
      in srgb,
      var(--color-tertiary),
      var(--color-gray-900) 20%
    );
  }

  &.quaternary {
    --_btn-text: var(--color-white);
    --_btn-color: var(--color-quaternary);
    --_btn-color-hover: color-mix(
      in srgb,
      var(--color-quaternary),
      var(--color-gray-900) 20%
    );
  }

  &.success {
    --_btn-text: var(--color-white);
    --_btn-color: var(--color-feedback-success);
    --_btn-color-hover: color-mix(
      in srgb,
      var(--color-feedback-success),
      var(--color-gray-900) 20%
    );
  }

  &.warning {
    --_btn-text: var(--color-white);
    --_btn-color: var(--color-feedback-warning);
    --_btn-color-hover: color-mix(
      in srgb,
      var(--color-feedback-warning),
      var(--color-gray-900) 20%
    );
  }

  &.error {
    --_btn-text: var(--color-white);
    --_btn-color: var(--color-feedback-error);
    --_btn-color-hover: color-mix(
      in srgb,
      var(--color-feedback-error),
      var(--color-gray-900) 20%
    );
  }

  &.info {
    --_btn-text: var(--color-white);
    --_btn-color: var(--color-feedback-info);
    --_btn-color-hover: color-mix(
      in srgb,
      var(--color-feedback-info),
      var(--color-gray-900) 20%
    );
  }

  &.light {
    --_btn-text: var(--color-gray-900);
    --_btn-color: var(--color-gray-100);
    --_btn-color-hover: color-mix(
      in srgb,
      var(--color-gray-100),
      var(--color-gray-900) 20%
    );
  }

  &.dark {
    --_btn-text: var(--color-gray-100);
    --_btn-color: var(--color-gray-900);
    --_btn-color-hover: color-mix(
      in srgb,
      var(--color-gray-900),
      var(--color-gray-100) 20%
    );
  }

  &.white {
    --_btn-text: var(--color-black);
    --_btn-color: var(--color-white);
    --_btn-color-hover: color-mix(
      in srgb,
      var(--color-white),
      var(--color-black) 20%
    );
  }

  &.black {
    --_btn-text: var(--color-white);
    --_btn-color: var(--color-black);
    --_btn-color-hover: color-mix(
      in srgb,
      var(--color-black),
      var(--color-white) 20%
    );
  }

  &.surface {
    --_btn-text: var(--color-gray-700);
    --_btn-color: var(--color-gray-400);
    --_btn-color-hover: color-mix(
      in srgb,
      var(--color-gray-400),
      var(--color-gray-900) 20%
    );

    &.subtle {
      color: var(--sinc-btn-color, var(--_btn-text));
      background-color: var(
        --sinc-btn-bg,
        color-mix(in srgb, var(--_btn-text), transparent 90%)
      );
      --_border-color: var(--_btn-color);
    }

    &.outline {
      color: var(--sinc-btn-color, var(--_btn-text));
      --_border-color: var(--_btn-color);
    }

    &.ghost {
      color: var(--sinc-btn-color, var(--_btn-text));

      &:hover:not(:disabled):not([aria-disabled='true']) {
        background-color: var(
          --sinc-btn-bg,
          color-mix(in srgb, var(--_btn-text), transparent 90%)
        );
      }
    }
  }

  &.solid {
    color: var(--sinc-btn-color, var(--_btn-text));
    background-color: var(--sinc-btn-bg, var(--_btn-color));

    &:hover:not(:disabled):not([aria-disabled='true']) {
      background-color: var(--_btn-color-hover);
    }
  }

  &.subtle {
    color: var(--sinc-btn-color, var(--_btn-color));
    background-color: var(
      --sinc-btn-bg,
      color-mix(in srgb, var(--_btn-color), transparent 85%)
    );
    --_border-color: color-mix(in srgb, var(--_btn-color), transparent 70%);

    &:hover:not(:disabled):not([aria-disabled='true']) {
      color: var(--sinc-btn-color, var(--_btn-text));
      background-color: var(--sinc-btn-bg, var(--_btn-color));
      --_border-color: var(--_btn-color);
    }
  }

  &.outline {
    color: var(--sinc-btn-color, var(--_btn-color));
    background-color: var(--sinc-btn-bg, transparent);
    --_border-color: var(--_btn-color);

    &:hover:not(:disabled):not([aria-disabled='true']) {
      color: var(--sinc-btn-color, var(--_btn-text));
      background-color: var(--sinc-btn-bg, var(--_btn-color));
    }
  }

  &.ghost {
    color: var(--sinc-btn-color, var(--_btn-color));
    background-color: var(--sinc-btn-bg, transparent);

    &:hover:not(:disabled):not([aria-disabled='true']) {
      background-color: var(
        --sinc-btn-bg,
        color-mix(in srgb, var(--_btn-color), transparent 85%)
      );
    }
  }

  &.sm {
    --_padding: var(--sinc-btn-padding, var(--spacing-1) var(--spacing-3));
    --_font-size: var(--sinc-btn-font-size, var(--font-size-xs));
    --_border-radius: var(--sinc-btn-border-radius, var(--radii-sm));
  }

  &.md {
    --_padding: var(--sinc-btn-padding, var(--spacing-2) var(--spacing-4));
    --_font-size: var(--sinc-btn-font-size, var(--font-size-sm));
  }

  &.lg {
    --_padding: var(--sinc-btn-padding, var(--spacing-2) var(--spacing-5));
    --_font-size: var(--sinc-btn-font-size, var(--font-size-md));
  }

  &.iconOnly {
    aspect-ratio: 1 / 1;

    &.sm {
      --_padding: var(--sinc-btn-padding, var(--spacing-1));
    }

    &.md {
      --_padding: var(--sinc-btn-padding, var(--spacing-2));
    }

    &.lg {
      --_padding: var(--sinc-btn-padding, var(--spacing-3));
    }
  }

  &.wFit {
    width: fit-content;
  }

  &.wFull {
    width: 100%;
  }

  &.pill {
    --_border-radius: var(--sinc-btn-border-radius, var(--radii-pill));
  }

  &.uppercase {
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }

  &.hasShadow {
    box-shadow: var(--_shadow);
  }

  &:disabled,
  &[aria-disabled='true'],
  &.isDisabled {
    opacity: 0.6;
    cursor: not-allowed !important;
    pointer-events: none;
  }

  & :global(svg) {
    flex-shrink: 0;
  }
}
