.shell {
  --_bg-color: var(--sinc-app-layout-bg, var(--color-bg-canvas));

  display: flex;
  width: 100vw;
  height: 100dvh;
  overflow: hidden;
  background-color: var(--_bg-color);
}

.sidebar {
  flex-shrink: 0;
  height: 100%;
}

.view {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  min-width: 0;
  overflow: hidden;
}

.header,
.footer {
  flex-shrink: 0;
}

.main {
  --_margin: var(--sinc-app-main-margin, var(--sinc-layout-panel-margin, 0rem));
  --_border-radius: var(
    --sinc-app-main-border-radius,
    var(--sinc-layout-panel-border-radius, 0rem)
  );

  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  margin: var(--_margin);
  margin-top: calc(var(--_margin) * -1);
  padding-top: var(--_margin);
  border-radius: var(--_border-radius);
}
