.nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list {
  display: flex;
  align-items: center;
  gap: var(--spacing-1);
  list-style: none;
  margin: 0;
  padding: 0;
}

.item {
  display: flex;
  align-items: center;
}

.pageButton {
  --_size: var(--sinc-pagination-size);

  padding: 0 !important;
  min-width: var(--_size);
  height: var(--_size);
  line-height: 1;
}

.sm {
  --sinc-pagination-size: 2.2rem;
}

.md {
  --sinc-pagination-size: 3.2rem;
}

.lg {
  --sinc-pagination-size: 4.2rem;
}

.dots {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 var(--spacing-1);
  color: var(--color-gray-500);
  font-size: var(--font-size-sm);
  user-select: none;
}

.simpleContainer {
  display: flex;
  align-items: center;
  gap: var(--spacing-10);
}

.simpleBtnGroup {
  display: flex;
  align-items: center;
  gap: var(--spacing-2);
}

.simpleText {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-semibold);
  color: var(--color-text);
  user-select: none;
}
