@import './tokens.css';
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

.sinc-main-content-link {
  --_outline-color: var(
    --sinc-page-main-content-link-outline-color,
    var(--color-gray-200)
  );
  outline-color: var(--_outline-color);
}

.sinc-global-overlay {
  --_bg-color: var(
    --sinc-page-overlay-bg,
    color-mix(in srgb, var(--color-black) 50%, transparent)
  );
  --_blur: var(--sinc-page-overlay-blur, 2px);

  position: fixed;
  inset: 0;
  background-color: var(--_bg-color);
  backdrop-filter: blur(var(--_blur));
  z-index: var(--z-index-overlay);
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--transition-base);
}

.sinc-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;

  &.--focusable {
    &:focus,
    &:focus-visible {
      position: relative;
      top: 0;
      left: 0;
      z-index: var(--z-index-popover);
      display: block;
      width: fit-content;
      height: unset;
      margin: 1rem;
      clip: auto;
      white-space: normal;
      padding: 1rem;
      color: var(--color-white);
      background-color: var(--color-feedback-info);
      border-radius: var(--radii-sm);
    }
  }
}

:root {
  --font-family-base: 'Onest', system-ui, -apple-system, sans-serif;

  --sinc-header-main-height: 6.4rem;
  --sinc-topbar-height: 3.6rem;
  --sinc-header-main-height-mobile: 4.8rem;
  --sinc-topbar-height-mobile: 3.2rem;
  --sinc-header-height: var(--sinc-header-main-height);

  --sinc-layout-panel-margin: 0rem;
  --sinc-layout-panel-border-radius: none;

  --color-primary-light: color-mix(
    in srgb,
    var(--color-primary),
    var(--color-white) 75%
  );

  --color-primary-dark: color-mix(
    in srgb,
    var(--color-primary),
    var(--color-black) 50%
  );

  --color-secondary-light: color-mix(
    in srgb,
    var(--color-secondary),
    var(--color-white) 75%
  );

  --color-secondary-dark: color-mix(
    in srgb,
    var(--color-secondary),
    var(--color-black) 50%
  );

  --color-tertiary-light: color-mix(
    in srgb,
    var(--color-tertiary),
    var(--color-white) 75%
  );

  --color-tertiary-dark: color-mix(
    in srgb,
    var(--color-tertiary),
    var(--color-black) 50%
  );

  --color-quaternary-light: color-mix(
    in srgb,
    var(--color-quaternary),
    var(--color-white) 75%
  );

  --color-quaternary-dark: color-mix(
    in srgb,
    var(--color-quaternary),
    var(--color-black) 50%
  );

  --color-feedback-success-light: color-mix(
    in srgb,
    var(--color-feedback-success),
    var(--color-white) 75%
  );

  --color-feedback-success-dark: color-mix(
    in srgb,
    var(--color-feedback-success),
    var(--color-black) 50%
  );

  --color-feedback-warning-light: color-mix(
    in srgb,
    var(--color-feedback-warning),
    var(--color-white) 75%
  );

  --color-feedback-warning-dark: color-mix(
    in srgb,
    var(--color-feedback-warning),
    var(--color-black) 50%
  );

  --color-feedback-error-light: color-mix(
    in srgb,
    var(--color-feedback-error),
    var(--color-white) 75%
  );

  --color-feedback-error-dark: color-mix(
    in srgb,
    var(--color-feedback-error),
    var(--color-black) 50%
  );

  --color-feedback-info-light: color-mix(
    in srgb,
    var(--color-feedback-info),
    var(--color-white) 75%
  );

  --color-feedback-info-dark: color-mix(
    in srgb,
    var(--color-feedback-info),
    var(--color-black) 50%
  );

  --color-bg-canvas: var(--color-gray-100);
  --color-text-title: var(--color-gray-900);
  --color-text-body: var(--color-gray-700);
  --color-text-inverse: var(--color-white);
  --color-text-link: var(--color-primary);
  --color-text-link-hover: var(--color-primary-dark);

  &:has([data-state='open'][data-scroll-lock]) {
    overflow: hidden !important;

    body,
    [data-scrollable] {
      overflow: hidden !important;
    }
  }

  &:has([data-state='open'][data-overlay]) .sinc-global-overlay {
    opacity: 1;
    pointer-events: auto;
  }

  &:has([data-state='open'][data-overlay='behind']):not(
      :has([data-state='open'][data-overlay='front'])
    )
    .sinc-global-overlay {
    z-index: var(--z-index-sticky);
  }

  &:has([data-has-topbar='true']) {
    --sinc-header-height: calc(
      var(--sinc-header-main-height) + var(--sinc-topbar-height)
    );
  }

  @media (max-width: 48em) {
    --sinc-header-height: var(--sinc-header-main-height-mobile);

    &:has([data-has-topbar='true']) {
      --sinc-header-height: calc(
        var(--sinc-header-main-height-mobile) + var(--sinc-topbar-height-mobile)
      );
    }
  }
}

:focus {
  outline: none;
}

:focus-visible,
[data-scrollable]:focus-visible {
  outline: 2px solid var(--color-feedback-info);
  outline-offset: -3px;
  border-radius: var(--radii-sm);
}

[data-theme='dark'] {
  --color-primary-dark: color-mix(
    in srgb,
    var(--color-primary),
    var(--color-white) 75%
  );

  --color-primary-light: color-mix(
    in srgb,
    var(--color-primary),
    var(--color-black) 50%
  );

  --color-secondary-dark: color-mix(
    in srgb,
    var(--color-secondary),
    var(--color-white) 75%
  );

  --color-secondary-light: color-mix(
    in srgb,
    var(--color-secondary),
    var(--color-black) 50%
  );

  --color-tertiary-dark: color-mix(
    in srgb,
    var(--color-tertiary),
    var(--color-white) 75%
  );

  --color-tertiary-light: color-mix(
    in srgb,
    var(--color-tertiary),
    var(--color-black) 50%
  );

  --color-quaternary-dark: color-mix(
    in srgb,
    var(--color-quaternary),
    var(--color-white) 75%
  );

  --color-quaternary-light: color-mix(
    in srgb,
    var(--color-quaternary),
    var(--color-black) 50%
  );

  --color-feedback-success-dark: color-mix(
    in srgb,
    var(--color-feedback-success),
    var(--color-white) 75%
  );

  --color-feedback-success-light: color-mix(
    in srgb,
    var(--color-feedback-success),
    var(--color-black) 50%
  );

  --color-feedback-warning-dark: color-mix(
    in srgb,
    var(--color-feedback-warning),
    var(--color-white) 75%
  );

  --color-feedback-warning-light: color-mix(
    in srgb,
    var(--color-feedback-warning),
    var(--color-black) 50%
  );

  --color-feedback-error-dark: color-mix(
    in srgb,
    var(--color-feedback-error),
    var(--color-white) 75%
  );

  --color-feedback-error-light: color-mix(
    in srgb,
    var(--color-feedback-error),
    var(--color-black) 50%
  );

  --color-feedback-info-dark: color-mix(
    in srgb,
    var(--color-feedback-info),
    var(--color-white) 75%
  );

  --color-feedback-info-light: color-mix(
    in srgb,
    var(--color-feedback-info),
    var(--color-black) 50%
  );

  --color-text-inverse: var(--color-black);
}

[hidden] {
  display: none !important;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: var(--sinc-header-height);
}

body {
  font-family: var(--font-family-base);
  font-size: var(--font-size-md);
  line-height: var(--line-height-base);
  background-color: var(--color-bg-canvas);
  color: var(--color-text-body);
  overflow-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  transition:
    background-color var(--transition-base),
    color var(--transition-base);
}

img,
picture,
video,
canvas,
svg,
iframe {
  display: block;
  max-width: 100%;
  height: auto;
}

img[role='presentation'] {
  &:not([src]),
  &[src=''],
  &[src='#'],
  &.is-broken {
    display: none !important;
  }
}

iframe {
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-text-title);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-shorter);
}

ul,
ol {
  list-style: none;
}

button {
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  text-align: inherit;

  &:focus:not(:focus-visible) {
    outline: none;
  }
}

a {
  color: var(--color-text-link);
  text-decoration: none;
  overflow-wrap: anywhere;
  transition: color var(--transition-fast);

  &:hover,
  &:focus-visible {
    color: var(--color-text-link-hover);
    text-decoration: none;
  }
}
