.shell {
  --_bg-color: var(--sinc-web-layout-bg, var(--color-bg-canvas));

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--_bg-color);
}

.header {
  flex-shrink: 0;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}
